body{
    box-sizing: border-box;
    background-color: #c9c6c7ec;
}

h2{
    text-align: center;
}
#total{
    overflow: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    height: 30px;
    width: 1300px;
    padding: 15px 17px;
    background-color: #ffffff;
}
div{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 4px;
}

.title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-head{
    font-weight: bold;
    margin-bottom: 2px;
}

div span{
    font-size: 13px;
    color: #535050;
}

.time{
    width: 150px;
}

.grid-container div:hover{
    color: #4031c2;
}
.grid-container:hover{
    background-color: #e9e7e7;
}

#status1{
    color: #03ca77;
}

#status2{
    color: #cc1d1d;
}